<p> App compoentn work!</p>

<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="navbar-nav">
            <li>
              <a class="nav-link active" routerLink="/register"> Register </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" routerLink="/login"> Login </a>
              </li>
  
            <li>
              <a class="nav-link active" routerLink="/user-info"> User Information </a>
            </li>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>